# Local: http://192.168.x.x:3000
EXPO_PUBLIC_API_URL=https://offday-app-react-native.up.railway.app

# URLs públicas de Nager.Date (festivos y países)
EXPO_PUBLIC_NAGER_V4_URL=https://date.nager.at/api/v4/Holidays
EXPO_PUBLIC_NAGER_V3_URL=https://date.nager.at/api/v3/PublicHolidays
EXPO_PUBLIC_NAGER_COUNTRIES_URL=https://date.nager.at/api/v3/AvailableCountries
